* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	overflow-x: hidden;
	font-family: 'Noto Sans', sans-serif;
	color: var(--black);
	background: #f6f6f8;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--black: #3b434e;
	--white: white;
	--primary: #7653fc;
	--red: #fc836d;
	--green: #1dc47e;
	--green-light: #c8f8e4;
	--font: 'Noto Sans', sans-serif;
}
